/* Imports 'Nunito' font from google and corresponding font weights-----------*/

@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700');

/* Formats properties used for whole page ------------------------------------*/

body {
  background-image: linear-gradient(to bottom right, #3BA3D0, #63AFD0);
  margin-top: 88px;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  color: #e3e3e3;
  font-size: 2em;
}

/* Formatting used for information display in result boxes -------------------*/

.good-result {
  background-color: #67AB2B;
  padding: 16px;
  color: black;
  font-size: medium;
}

.bad-result {
  background-color: orange;
  padding: 16px;
  color: black;
  font-size: medium;
}

.info-display {
  color: #e3e3e3;
  margin: 0.6em;
}

.result-display {
  width: 90%;
  text-align: center;
  margin: 10px auto 10px auto;
}

.serving-info {
  background-color: green;
}

/* Graph formatting ----------------------------------------------------------*/

.managerCount {
  background-color: #FFAA00;
  padding: 16px 3px 16px 3px;
  color: black;
  font-size: medium;
}

.mitCount {
  background-color: #6BE400;
  padding: 16px 3px 16px 3px;
  color: black;
  font-size: medium;
}

.instoreCount {
  background-color: #AA00A2;
  padding: 16px 3px 16px 3px;
  color: white;
  font-size: medium;
}

/* Container for graphs and information displays -----------------------------*/

.box {
  background-image: linear-gradient(to bottom right, #225F79, #0772A1);
  padding: 0.7em;
  height: 405px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 550px;
  margin: 1em;
  border-radius: 5px
}

/* Formatting for navbar -----------------------------------------------------*/

.heading {
  background-image: linear-gradient(to bottom right, #225E79, #0772A1);
  padding: 1em;
  height: 80px;
  margin: 0 0 -15px 0;
  text-align: center;
  font-weight: bold;
}

/* Fixes issue where default font weight would be unreadable in white --------*/

.readable-text {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}


/* Fixes position of reset button on navbar ----------------------------------*/

.btn-fix {
  display: inline-block;
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 14px;
  }
  h3 {
    font-size: 22px;
    margin: 0.2em;
  }
  p{
    font-size: 14px!important;
  }
}
