.managerCount {
  background-color: #FFAA00;
  padding: 16px;
  color: black;
  font-size: x-large;
}

.mitCount {
  background-color: #6BE400;
  padding: 16px;
  color: black;
  font-size: large;
}

.instoreCount {
  background-color: #AA00A2;
  padding: 16px;
  color: white;
  font-size: large;
}

body {
  background-image: linear-gradient(to bottom right, #3E94D1, #65A5D1);
}

h1,
h2,
h3 {
  text-align: center;
  color: #e3e3e3;
}

.box {
  background-color: #0A64A499;
  border-radius: 3px;
  margin: 20px 20px 20px 20px;
  padding: 5px 5px 5px 5px;
  height: 390px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.good-result {
  background-color: #67AB2B;
  padding: 16px;
  color: black;
  font-size: x-large;
}

.bad-result {
  background-color: orange;
  padding: 16px;
  color: black;
  font-size: x-large;
}

.overview-box {
  border-style: solid;
  border-color: black;
  margin: 0px 30px 20px 30px;
}

.info-display {
  color: #e3e3e3;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-top: 30px;
  transform: translate(-50%, -50%);
}

.serving-info {
  background-color: green;
}